.navToTop {
  position: fixed;
  bottom: 3.5rem;
  right: 2rem;
  z-index: 10;
  background-color: lightcoral;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}

.navToBottom {
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  z-index: 10;
  background-color: lightcoral;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}
